body {


background: #f5e1da;
margin: 0;

font-family: 'Quicksand', sans-serif;
}


nav{
  width:100%;
  background-color: ###ffdde1;
  display: flex;
  justify-content: space-around;
 
}

nav li a{
  text-decoration:none;
  color:#fff;
  transition: all 0.5s;

}

nav li{
  list-style-type: none;
  padding:14px 16px;

}

nav li a:hover{
  color:#17202A;
}

.links {
  color: black;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.link {
  color: black;

  }

.logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}


.desk {
  background: white;
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.deskphoto {
  width: 30%;
  height: 250px;
}

.desktitle {
  color: black;
  font-size: 26px;
  font-weight: bold;
}

.deskp {
  font-size: 17px;
}


h2 {
  color: black;
  font-family: 'Quicksand', sans-serif;
}


a {
  text-decoration: none;
}

.btn {
  color: white;
  background: black;
}

.btn:hover {
  background: white;
}


#footerHaut{
  
  background-color: #323332;
  height: auto;
  display: flex;
  justify-content: space-around;
  text-align:center;
  flex-wrap:wrap;
  
}

#footerHaut ul li{
  list-style-type: none;
  padding:4px 6px;
}

#footerHaut ul li a{
  text-decoration:none;
  color:#fff;
}

#footerBas{
  background-color: #282928;
  height: auto;
  text-align:center;
  padding: 5px;

}

#footerBas a{
  text-decoration:none;
  color:#fff;
}

#footerBas p{
  padding: 0;
  margin: 0;
}


.c-img {
  height: 60vh;
  object-fit: cover;
}

