body {


background: #f5e1da;
margin: 0;

font-family: 'Quicksand', sans-serif;
text-align: center;
}

.navbar {
  background: white;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  color: black;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.link {
  color: black;

  }

.logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}


.desk {
  background: white;
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.deskphoto {
  width: 30%;
  height: 250px;
}

.desktitle {
  color: black;
  font-size: 26px;
  font-weight: bold;
}

.deskp {
  font-size: 17px;
}


h2 {
  color: black;
  font-family: 'Quicksand', sans-serif;
}


a {
  text-decoration: none;
}

.btn {
  color: white;
  background: black;
}

.btn:hover {
  background: white;
}


.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 20px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.c-img {
  height: 60vh;
  object-fit: cover;
}

